<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
      "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
      @@if (sidebarSize == 'base' || demoMode) {
        @@include("partials/sidebar.html", {
          "category": "pages",
          "subcategory": "project",
          "page": "project-overview.html"
        })
      }
      @@if (sidebarSize == 'small' || demoMode) {
        @@include("partials/sidebar-sm.html", {
          "category": "pages",
          "subcategory": "project",
          "page": "project-overview.html"
        })
      }
    }
    @@if (navPosition == 'topnav' || demoMode) {
      @@include("partials/topnav.html", {
        "category": "pages",
        "subcategory": "project",
        "page": "project-overview.html"
      })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      @@if (navPosition == 'combo' || demoMode) {
        @@include("partials/topbar.html")
      }

      <!-- HEADER -->
      <div class="header">
        <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg avatar-4by3">
                  <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Property
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  29 Tythe Barn Lane, Shirley
                </h1>

              </div>
			  
            </div> <!-- / .row -->
			
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row">
          <div class="col-12">
            
            <!-- Alert -->
			<div class="alert alert-warning" role="alert">
			  This property profile is only 50% complete. <a href="#" class="alert-link">Add more details here</a>
			</div>

        
        <div class="row">
			
            <div class="col-12 col-xl-8">
            
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Summary
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-white">
                        Adjust
                      </a>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">
					
                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2">
                    Est Market Value
                  </h6>
                  
                  <!-- Heading -->
                  <span class="h2 mb-0">
                    £524,500
                  </span>
				  
                  <!-- Badge -->
                  <span class="badge badge-soft-success mt-n1">
                    +£24,500
                  </span>
				  
                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2">
                    Annualised Income
                  </h6>
                  
                  <!-- Heading -->
                  <span class="h2 mb-0">
                    £20,000
                  </span>
				  
                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2">
                    Yield
                  </h6>
                  
                  <!-- Heading -->
                  <span class="h2 mb-0">
                    3.8%
                  </span>
                
              </div> 
		  </div>
			  
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Occupancy
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-white">
                        Add Unit
                      </a>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body text-center">


                  <!-- Content -->
                  <p class="text-muted">
                    This property is currently vacant and has no active tenancies.
                  </p>

 
                </div>
              </div>
			  
            </div>
			
			
            <div class="col-12 col-xl-4">
            
              <!-- Card -->
              <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="card-header-title">
                          Property Details
                        </h4>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <a href="project-details.html" class="btn btn-sm btn-white">
                          Edit
                        </a>
                    
                      </div>
                    </div> <!-- / .row -->
                  </div>
				  
                <div class="card-body">
					
                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Property Type
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="small text-muted"> 
                        House
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>
					
                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Ownership
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="small text-muted"> 
                        Freehold
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Acquired on
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <time class="small text-muted" datetime="1988-24-10">
                        24/10/88
                      </time>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Construction date
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        Pre-1914
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Square feet (internal)
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        250
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>

              <!-- Weekly Hours -->
              <div class="card">
                <div class="card-header">
                
                  <!-- Title -->
                  <h4 class="card-header-title">
                    Location
                  </h4>

                </div>
                <div class="card-body">
                
  				<div class="embed-responsive embed-responsive-21by9 rounded">
  				  <div class="embed-responsive-item" data-toggle="map" data-options='{"center": [-118.244615, 34.052979], "zoom": 12}'></div>
  				</div>

                </div>
              </div>

            </div>
		
		
        
              </div>
              
            </div>

          </div>
          
        </div> <!-- / .row -->
		
		
		
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>